<footer class="footer">
  <div class="container">
    <div class="footer-inner">
      <p class="copyright">
        &copy; 2025 Pastelería Delicias. Todos los derechos reservados.
      </p>

      <div class="footer-grid">
        <div>
          <h4>Contacto</h4>
          <ul>
            <li><a href="mailto:info@pasteleriadelicias.com">info@pasteleriadelicias.com</a></li>
            <li><a href="tel:+5112345678">(01) 234-5678</a></li>
            <li>Av. Central #456, Miraflores</li>
          </ul>
        </div>

        <div>
          <h4>Productos</h4>
          <ul>
            <li><a href="#">Pasteles</a></li>
            <li><a href="#">Galletas</a></li>
            <li><a href="#">Postres</a></li>
          </ul>
        </div>

        <div>
          <h4>Síguenos</h4>
          <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">WhatsApp</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>